/* .webdev-header {
  color: red;
  background-color: black;
}

.aueb-header {
  color: blue;
  background-color: black;
}

.webdev-text {
  color: white;
  background-color: black;
}
 */

.bg-black {
  background-color: black;
}

.fg-red {
  color: red;
}

.fg-white {
  color: white;
}

.fg-blue {
  color: blue;
}
